@font-face {
        font-family: "Huset";
        src: url("Huset Regular/huset Regular.otf");
    }

body{
    margin: 0;
    background-image: url(wall.png);
}

main{

}

article h2{
    font-family: Huset;
    font-size: 2em;
}


#logo img{
    width: 30vw;

}

h1, h2, h3, h4, h5, p, a{
    font-family: 'Avenir', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
    text-decoration: underline;

}
main{

 display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: repeat (5, 1fr);
        grid-gap: 20px;

    }
.container{
     border: 3px solid white;
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 4vw;
    color: white;


}

.container1{
     border: 3px solid white;
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 4vw;
    color: white;



}
.container2{
     border: 3px solid white;
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 4vw;
    color: white;

}


.container3{
     border: 3px solid white;
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 4vw;
    color: white;

}


.container4{
     border: 3px solid white;
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 4vw;
    color: white;

}

.container5{
     border: 3px solid white;
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 4vw;
    color: white;

}


@media screen and (min-width:768px){


main{
    margin-left: 16vw;
    margin-right: 16vw;
 display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: repeat (5, 1fr);
        grid-gap: 20px;
    justify-content: center;
    }

    .container{
        grid-column: 1/3;
        margin-left: 0;
        margin-right: 0;
    }

    .container1{
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 0;
        margin-right: 0;
    }

    .container2{
        margin-left: 0;
        margin-right: 0;
    }
  .container3{
      margin-left: 0;
        margin-right: 0;
    }

    .container4{
        margin-left: 0;
        margin-right: 0;
    }

    .container5{
        grid-column: 1/3;
        margin-left: 0;
        margin-right: 0;
    }

}

