@font-face {
        font-family: "Huset";
        src: url("Huset Regular/huset Regular.otf");
    }

body {
    margin: 0;
    background-image: url(wall.png);
}

main {
    border: 3px solid white;
    margin: 8vw;
    padding: 4vw;
    color: white;
    margin-top: 15vw;
}

main a {

    color: white;
}

article h1{
    font-family: Huset;
    font-size: 30px;
}

article p{
    font-family: Avenir, sans-serif;
}

@media screen and (min-width:1024px){
    main{
    margin-left: 16vw;
        margin-right: 16vw;
    }

}
