body {
    margin: 0;
    background-image: url(wall.png);
}

main {
    border: 3px solid white;
    margin: 8vw;
    padding: 4vw;
    color: white;
    margin-top: 15vw;
}


h1,
h3,
h4,
h5,
p,
a {
    font-family: 'Avenir', sans-serif;
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
    text-decoration: underline;

}

.blivfrivillig_template {
    padding: 4vw;
    color: white;
    font-family: Avenir;
}


