  @font-face {
        font-family: "Huset";
        src: url("Huset Regular/huset Regular.otf");
    }

    body {
        margin: 0;
        background-image: url(wall.png);
    }


    main {
        margin: 8vw;
        color: white;
        margin-top: 15vw;

    }

.title{
    font-family: Huset;
    font-size: 30px;
}

    .events {

        color: white;
        font-family: Avenir, sans-serif;

    }

    .event_container {
        border: 3px solid white;
        margin-bottom: 4vw;
        padding: 4vw;

    }


    main a {
        text-decoration: none;
        list-style: none;
        color: white;
        text-decoration: underline;

    }
@media screen and (min-width:768px){
  .title{
        font-size: 40px;
      margin-top: 0;
    }

}

@media screen and (min-width:1024px){
    main{
        margin-right: 16vw;
        margin-left: 16vw;
    }

    .title{
        font-size: 50px;
        margin-top: 0;
    }

}

