    @font-face {
        font-family: "Huset";
        src: url("fonts/huset.otf");
    }

    .date {
        font-family: Huset;
        font-size: 2em;
    }

    body {
        margin: 0;
        background-image: url(wall.png);
    }

    img {
        width: 100%;
        opacity: 0.6;
    }

    main {
        margin: 8vw;
        padding: 4vw;
        color: white;
        margin-top: 15vw;
    }

    .events {
        padding: 4vw;
        color: white;
        font-family: Avenir;
    }

    .event_container {
        border: 3px solid white;
        margin-bottom: 4vw;
        display: grid;
    }

.title{
    font-size: 2em;
    text-align: center;
}

.kob_knap{
    font-family: Avenir;
    border: none;
    font-size: 1.5em;
    padding: 2vw;
}

.pris, .place, .time{
    font-size: 1.5em;
}
