   @font-face {
        font-family: "Huset";
        src: url("Huset Regular/huset Regular.otf");
    }

    body {
        margin: 0;
        background-image: url(wall.png);
    }

    main {
        margin: 8vw;
        color: white;

    }

main h1 {
    font-family: Huset;
    font-size: 30px;
}

main h2{
    font-family: Avenir, sans-serif;
    font-size: 18px;
}


    .faciliteter {
        color: white;
        font-family: Avenir, sans-serif;

    }

    .faciliteter_container {
        border: 3px solid white;
        padding: 4vw;

    }

    .faciliteter_template {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: repeat (6, 1fr);

    }

    main a {
        text-decoration: none;
        list-style: none;
        color: white;
        text-decoration: underline;

    }


    @media screen and (min-width:768px) {
        .faciliteter {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;


        }
    }

@media screen and (min-width:1024px){
    main{
        margin-right: 16vw;
        margin-left: 16vw;
    }

}
