footer {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    width: 100%;

}

#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

footer img{
 height: 100%;
}

footer h2{
    font-size: 1.5em;
}

.overskrift {
    font-weight: 600;
}

footer a{
    color: black;
}

@media screen and (min-width:400px) {


    #footer {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #persondata {
        flex-basis: 200px;
    }

    #sponsorer {
        flex-basis: 200px;
    }

    #kontakt {
        flex-basis: 200px;
    }

    #adresse {
        flex-basis: 200px;
    }


}



@media screen and (min-width: 715px) {

    #persondata {
        flex-basis: 470px;
    }

    #sponsorer {
        flex-basis: 200px;
    }

    #kontakt {
        flex-basis: 200px;
    }

    #adresse {
        flex-basis: 100px;
    }
}

@media screen and (min-width: 1024px) {

    #footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2vw;
        margin-right: 2vw;
        text-align: left;


    }
    #persondata {
        flex-basis: 20px;
    }

    #sponsorer {
        flex-basis: 20px;
    }

    #kontakt {
        flex-basis: 180px;
    }

    #adresse {
        flex-basis: 170px;
    }


}
