@font-face {
        font-family: "Huset";
        src: url("Huset Regular/huset Regular.otf");
    }

body{
    margin: 0;
    background-image: url(wall.png);
}

main{
    border: 3px solid white;
    margin: 8vw;
    padding: 4vw;
    color: white;
    margin-top: 15vw;
}

article h2{
    font-family: Huset;
    font-size: 2em;
}


h1, h2, h3, h4, h5, p, a{
    font-family: 'Avenir', sans-serif;
}


a {
    text-decoration: none;
    list-style: none;
    color: white;
    text-decoration: underline;

}
