body {
    margin: 0;
    background-image: url(wall.png);
}

#logo img{
    float: right;
    width: 30%
}

/* Sidenavigation til mobilstørrelse */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(wall.png);
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.5s;
}



/* Links i navigationen */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

}


.sidenav a:hover {
    color: #f1f1f1;
}


#mySidenav a,
.dropbtn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

#mySidenav a:hover,
.dropbtn:hover {
    color: #f1f1f1;
}

.active {
    color: white;
    opacity: 0.5;
}

.dropdown-content {
    display: none;
    /*background-image: url(wall.png);*/
    padding-left: px;
    font-family: 'Avenir', sans-serif;
}

.fa-plus-square {
    float: right;
    padding: 10px;
    position: relative;
    z-index: 4;

}
.dropbtn {
    padding: 0px;
    position: relative;
    z-index: 2;
    display: flex;
    border-bottom: 1px solid white;


}


.navbar{
    display: none;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


@media screen and (min-width:627px){

    #mySidenav .sidenav{
        display: none;
    }

    .closebtn{
        display: none;
    }

    span{
        display: none;
    }

    /* navigation til ipad og desktop*/

.navbar {
    display: inline-block;
  overflow: hidden;
    border-bottom: 1px solid white;
    width: 70%;


}

/* links i navigationen */
.navbar a {
  float: left;
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding: 10px 4px;
  text-decoration: none;
    font-family: 'Avenir', sans-serif;
}


.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  color: lightgrey;
}


.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  min-width: 160px;
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    color: lightgray;

}

    /* vis dropdown-content når man hover */

.dropdown:hover .dropdown-content {
  display: block;

}
    #logo img{
        float: right;
        width: 25%;
        margin: 1vw;


}
    #soMeIkoner{
        display: none;
    }


    @media screen and (min-width:768px){
        #logo img{
            margin: 0;
        }
        .navbar{

        }

        .dropdown .dropbtn{
            padding: 10px 20px;
        }

            #soMeIkoner{
        display: none;
    }

    }

    @media screen and (min-width:1024px){
        #soMeIkoner{
            display:block;
            margin-top: 10px;
        }

        #SoMeSearch{
            float: right;
            width: 180px;
            display: flex;
            flex-direction: column;

        }
    }
