* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url(wall.png);
}

#txt {
    border: 3px solid white;
    margin: 8vw;
    padding: 4vw;
    color: white;
    margin-top: 15vw;
}

.timeline p{
    color: black;
    opacity: 1;
}


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


.container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


.container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid lightblue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;

}


.left {
    left: 0;
}


.right {
    left: 50%;
}


.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: 1px solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}


.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: 1px solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


.right::after {
    left: -16px;
}


.content {
    padding: 10px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}


@media screen and (max-width: 600px) {

  .timeline::after {
    left: 31px;
  }


  .container1 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }


  .container1::before {
    left: 60px;
    border: 1px solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }


  .left::after, .right::after {
    left: 15px;
  }


  .right {
    left: 0%;
  }
}
