@font-face {
        font-family: "Huset";
        src: url("Huset Regular/huset Regular.otf");
    }

/*Stule af "main"*/
body{
    margin: 0;
    background-image: url(wall.png);
}

img{
    width: 100%;
}

main{
    margin: 8vw;
    padding: 4vw;
    color: white;
}

.title {
    font-family: huset;
    font-size: 30px;
}

/*style af textboks*/
.introListview{
    border: 3px solid white;
    padding: 4vw;

    margin-bottom: 4vw;
}
.paragraf{
    font-family: Avenir, sans-serif;
    font-size: 16px;
}

/*Style af boks 1*/
.voluntaryListview{
    border: 3px solid white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.title1{
    font-family: huset;
    text-align: center;
    font-size: 7vw;
    padding-top: 3vw;
    background-color: #22293B;
    grid-column: 1 / 2;
    grid-row: 2 /3;
    z-index: 2;
    cursor: pointer;
}

.title1:hover{
    grid-row: 1/4;
    padding-top: 28vw;

}

.image1{
    opacity: 0.7;
    grid-column: 1/2;
    grid-row: 1/4;
    z-index: 1;
}

/*Style af boks 2*/
.faciliteterListview{
    border: 3px solid white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.title2{
    font-family: huset;
    text-align: center;
    font-size: 7vw;
    padding-top: 3vw;
    background-color: #22293B;
    grid-column: 1 / 2;
    grid-row: 2 /3;
    z-index: 2;
    cursor: pointer;
}

.title2:hover{
    grid-row: 1/4;
    padding-top: 28vw;
}

.image2{
    opacity: 0.7;
    grid-column: 1/2;
    grid-row: 1/4;
    z-index: 1;
}

/*Style af boks 3*/
.bookListview{
    border: 3px solid white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.title3{
    font-family: huset;
    text-align: center;
    font-size: 7vw;
    padding-top: 3vw;
    background-color: #22293B;
    grid-column: 1 / 2;
    grid-row: 2 /3;
    z-index: 2;
    cursor: pointer;
}

.title3:hover{
    grid-row: 1/4;
    padding-top: 28vw;
}

.image3{
    opacity: 0.7;
    grid-column: 1/2;
    grid-row: 1/4;
    z-index: 1;
}

/*Style af boks 4*/
.skabListview{
    border: 3px solid white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.title4{
    font-family: huset;
    text-align: center;
    font-size: 7vw;
    padding-top: 3vw;
    background-color: #22293B;
    grid-column: 1 / 2;
    grid-row: 2 /3;
    z-index: 2;
    cursor: pointer;
}

.title4:hover{
    grid-row: 1/4;
    padding-top: 28vw;
}

.image4{
    opacity: 0.7;
    grid-column: 1/2;
    grid-row: 1/4;
    z-index: 1;
}

.billeder{
    display: grid;
    grid-gap: 5vw;
}

/*midiaqueries til responsivt site*/
@media screen and (min-width:768px){
    .title{
        font-size: 40px;
        margin-top: 0;
    }


    .billeder{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .container1{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .container2{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .container3{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .container4{
        grid-column: 2/3
            grid-row: 2/3;
    }

    .title1{
        font-size: 2vw;
        padding-top: 2vw;
    }

    .title1:hover{
        padding-top: 14.4vw;
    }

    .title2{
        font-size: 2vw;
        padding-top: 2vw;
    }

    .title2:hover{
        padding-top: 14.4vw;
    }

    .title3{
        font-size: 2vw;
        padding-top: 2vw;
    }

    .title3:hover{
        padding-top: 14.4vw;
    }

    .title4{
        font-size: 2vw;
        padding-top: 2vw;
    }

    .title4:hover{
        padding-top: 14.4vw;
    }
}

@media screen and (min-width:1024px){
    main{
        margin-right: 16vw;
        margin-left: 16vw;
    }
    .title{
        font-size: 50px;
        margin-top: 0;
    }

}





