body{
    margin: 0;
    background-image: url(wall.png);
}

img{
    width: 100%;
}

main{
    margin: 8vw;
    padding: 4vw;
    color: white;
    margin-top: 15vw;
}

.container1{
    border: 3px solid white;
    padding: 4vw;
    color: white;
    font-family: Avenir;
}

.container2{
    border: 3px solid white;
    padding: 4vw;
    color: white;
    font-family: Avenir;
    margin-top: 4vw;
}
