 @font-face {
        font-family: "Huset";
        src: url("Huset Regular/huset Regular.otf");
    }

/*style af "main"*/
body{
    margin: 0;
    background-image: url(wall.png);
}

img{
    width: 100%;
}

.nyeEvents img{
    width: 8%;
    margin-left: 2px;
}

main{
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 8vw;
    color: white;
    display: grid;
    grid-gap: 5vw;

}

.nyeEvents{
    border: 3px solid white;
    padding: 4vw;
    width: 100%;
}

/*media queries til placering af elementerne på responsivt site*/
@media screen and (min-width:1000px){
    main{
        margin-left: 16vw;
        margin-right: 16vw;
        margin-top: 8vw;
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: repeat (5, 1fr);
        grid-gap: 20px;
        justify-content: center;
    }

    .container{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .container1{
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .container2{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .slideshow_container{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .nyeEvents{
        grid-column: 1/3;
        grid-row: 4/5;

    }

    .container3{
        grid-column: 1/3;
        grid-row: 5/5;
    }
}

.container1{
    border: 3px solid white;
    padding: 4vw;
    color: white;

}

.container2{
    border: 3px solid white;
    padding: 4vw;
    color: white;
}

.container3{
    color: white;
    display: grid;
    grid-gap: 10px;
}

main p{
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
}



main h2{
    font-family: Huset;
    font-size: 30px;
    margin-top: 0;
}



/*Style til events boksene*/
.eventsListview{
    text-shadow: 2px 2px grey;
    display: grid;
    grid-template-columns: 10px repeat(2, 1fr) 10px;
    grid-template-rows: 10px repeat(6, 1fr) 10px;
    border: 3px solid white;
}

.title{
    grid-column: 2/5;
    grid-row:2/3;
    z-index: 2;
    font-size: 4.5vw;
}

.date{
    grid-column: 2/3;
    grid-row: 3/4;
    z-index: 2;
    font-family: huset;
    font-size: 8vw;
}

.time{
    grid-column: 2/3;
    grid-row: 4/5;
    z-index: 2;
    font-size: 4vw;
}

.place{
    grid-column: 3/5;
    grid-row: 3/4;
    z-index: 2;
    font-size: 4vw;
}

.pris{
    grid-column: 3/4;
    grid-row: 4/5;
    z-index: 2;
    font-size: 4vw;
}

.kob_billet{
    grid-column: 2/3;
    grid-row: 7/8;
    z-index: 2;
}

.kob_knap {
        font-family: Avenir;
        border: none;
        background: none;
        color: white;
        width: 40vw;
        border-bottom: 1px solid white;
        font-size: 3vw;
    }

.kob_knap:hover{
    border-bottom: 2px solid white;
}

.image{
    grid-column: 1/9;
    grid-row: 1/9;
    z-index: 1;
    opacity: 0.6;
}



/*-------------------------------------------*/

main a {

    color: white;
}


/*-----------------------------------------*/

/*style til billed show (inspiration fra w3schools*/

 * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
    font-family: huset;
  font-size: 5vw;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*media queries til eventsene*/
@media screen and (min-width:768px){
    .container3{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
    .title{
        font-size: 2vw;
    }

    .date{
        font-size: 2vw;
    }

    .time{
        font-size: 2vw;
    }

    .place{
        font-size: 1.5vw;
    }

    .pris{
        font-size: 2vw;
    }

    .kob_knap{
        width: 16vw;
        font-size: 2vw;
    }

    main h2{
        font-size: 40px;
        margin-top: 0;
    }

}

@media screen and (min-width:1024px){
    .container3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    .title{
        font-size: 1vw;
    }

    .date{
        font-size: 1.5vw;
    }

    .time{
        font-size: 1vw;
    }

    .place{
        font-size: 1vw;
    }

    .pris{
        font-size: 1.5vw;
    }

    .kob_knap{
        width: 8vw;
        font-size: 1vw;
    }

    main h2{
        font-size: 50px;
        margin-top: 0;
    }
}

/*--------------nyhedsbrev-----------------*/

form{
        border: 4px solid none;
        font-family: huset;
    }

    input[type=text], input[type=submit]{
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-family: avenir;
        background: none;
    }

    input[type=submit]{
        color: white;
        border: 3px solid white;

    }

    input[type=submit]:hover{
        opacity: 0.8;
    }
