@font-face {
        font-family: "Huset";
        src: url("Huset Regular/huset Regular.otf");
    }

body{
    margin: 0;
    background-image: url(wall.png);
}

main{
    border: 3px solid white;
    margin: 8vw;
    padding: 4vw;
    color: white;
    margin-top: 15vw;
}

main p{
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
}


article h1 {

    font-family: Huset;
    font-size: 30px;
}

article h2{
    font-size: 18px;
    font-family: avenir, sans-serif;
}

main a {
    text-decoration: none;
    list-style: none;
    color: white;
    text-decoration: underline;

}
@media screen and (min-width:768px){
  article h1{
        font-size: 40px;
      margin-top: 0;
    }


}

@media screen and (min-width:1024px){
    main{
        margin-right: 16vw;
        margin-left: 16vw;
    }

    article h1{
        font-size: 50px;
        margin-top: 0;
    }

}
