body{
    margin: 0;
    background-image: url(wall.png);
}

main{
    border: 3px solid white;
    margin: 8vw;
    padding: 4vw;
    color: white;
    margin-top: 15vw;
}

#logo img{
    width: 30vw;
    float: right;

}

h1, h2, h3, h4, h5, p, a{
    font-family: 'Avenir', sans-serif;
}

/* navigation */

#mySidenav {
  background-image: url(wall.png);
  padding-top: 20px;
}

#mySidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


#mySidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  color: white;
    opacity: 0.5;
}


.dropdown-container {
  display: none;
  background-image: url(wall.png);
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
    position: relative;
    z-index: 4;


}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: gray;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}

.dropdown-btn {
    padding: 0px;
    position: relative;
    z-index: 2;
    display: flex;



}

i{
    margin-top: 10px;






}

/* søgefunktion*/

.wrapper{
    position: absolute;
    top: 2.5%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.search_container{
    position: relative;
    padding: 30.5px 60px;

}

.input{
    width: 80px;
    height: 1px;
    border: 1.5px solid white;
    background: transparent;
    padding: 10px 30px;
    border-radius: 50px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    font-family: 'Avenir', sans-serif;

}

::-webkit-input-placeholder{
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Avenir', sans-serif;

}

.luk-btn{
    position: absolute;
    z-index: ;
    top: 27px;
    right: 70px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    transition: opacity 0.5s ease;
    opacity: 1; /*skal være på 0 hvis animationen skal du*/
}

.luk-btn.active{
    opacity: 1;
    animation-name: animate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    color: white;
}

@keyframes animate{
    0%{
        transform: scale(1);
    }
     25%{
        transform: scale(1.2);
    }
     50%{
        transform: scale(1.5);
    }
     75%{
        transform: scale(1.2);
    }
     100%{
        transform: scale(1);
    }
}

footer{
    background-color: white;
    opacity: 0.8;
     position: absolute;
    width: 100%;

}

#footer{
    display: flex;
   flex-wrap:wrap;
    flex-direction: column;
    text-align: center;
}

.overskrift{
    font-weight: 600;
}

@media screen and (min-width:400px){

    .wrapper{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .input{
    width: 80px;
    height: 2.5px;
    border: 2px solid white;


}



.luk-btn{

    top: 30px;
    right: 70px;

}

}

@media screen and (min-width:627px){
       .wrapper{
    position: absolute;
    top: 4.5%;
    left: 52%;
    transform: translate(-50%, -50%);
}
    .input{
    width: 130px;
    height: 15px;
    border: 2px solid white;
    text-transform: uppercase;


}



.luk-btn{

    top: 36px;
    right: 80px;

}

    #footer{
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #persondata{
        flex-basis: 200px;
    }

    #sponsorer{
        flex-basis: 200px;
    }

    #kontakt{
        flex-basis: 200px;
    }

    #adresse{
        flex-basis: 200px;
    }
}

@media screen and (min-width: 715px){

       .wrapper{
    position: absolute;
    top: 3.5%;
    left: 54%;
    transform: translate(-50%, -50%);
}
    .input{
    width: 130px;
    height: 20px;
    border: 3px solid white;
    text-transform: uppercase;

}

.luk-btn{

    top: 40px;
    right: 80px;

}
    #persondata{
        flex-basis: 470px;
    }

    #sponsorer{
        flex-basis: 200px;
    }

    #kontakt{
        flex-basis: 200px;
    }

    #adresse{
        flex-basis: 100px;
    }
}

@media screen and (min-width: 1024px){

       .wrapper{
    position: absolute;
    top: 4.1%;
    left: 54%;
    transform: translate(-50%, -50%);
}
    .input{
    width: 200px;
    height: 30px;
    border: 3px solid white;
    text-transform: uppercase;

}

.luk-btn{

    top: 44px;
    right: 90px;

}
#footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: left;


}
    #persondata{
        flex-basis: 20px;
    }

    #sponsorer{
        flex-basis: 20px;
    }

    #kontakt{
        flex-basis: 180px;
    }

    #adresse{
        flex-basis: 170px;
    }


}
