body{
    margin: 0;
    background-image: url(wall.png);
}

main{
    border: 3px solid white;
    margin: 8vw;
    padding: 4vw;
    color: white;
    margin-top: 15vw;
}

#logo img{
    width: 30vw;
    float: right;

}

h1, h2, h3, h4, h5, p, a{
    font-family: 'Avenir', sans-serif;
}

/* navigation */

#mySidenav {
  background-image: url(wall.png);
  padding-top: 20px;
}

#mySidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


#mySidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  color: white;
    opacity: 0.5;
}


.dropdown-container {
  display: none;
  background-image: url(wall.png);
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
    position: relative;
    z-index: 4;


}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: gray;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}

.dropdown-btn {
    padding: 0px;
    position: relative;
    z-index: 2;

}

i{
    margin-top: -7vw;

}

/* søgefunktion*/

.wrapper{
    position: absolute;
    top: 6.5%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.search_container{
    position: relative;
    padding: 20px 50px;

}

.input{
    width: 170px;
    border: 3px solid white;
    background: transparent;
    padding: 10px 30px;
    border-radius: 50px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    font-family: 'Avenir', sans-serif;

}

::-webkit-input-placeholder{
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Avenir', sans-serif;

}

.luk-btn{
    position: absolute;
    z-index: ;
    top: 27px;
    right: 70px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    transition: opacity 0.5s ease;
    opacity: 1; /*skal være på 0 hvis animationen skal du*/
}

.luk-btn.active{
    opacity: 1;
    animation-name: animate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    color: white;
}

@keyframes animate{
    0%{
        transform: scale(1);
    }
     25%{
        transform: scale(1.2);
    }
     50%{
        transform: scale(1.5);
    }
     75%{
        transform: scale(1.2);
    }
     100%{
        transform: scale(1);
    }
}

footer{
    background-color: white;
    opacity: 0.8;
}

#footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw;
}
