body{
    margin: 0;
    background-image: url(wall.png);
}

main{
    border: 3px solid white;
    margin: 8vw;
    padding: 4vw;
    color: white;
    margin-top: 15vw;
}

#logo img{
    width: 30vw;
    float: right;

}

h1, h2, h3, h4, h5, p, a{
    font-family: 'Avenir', sans-serif;
}

/*ul, li a{
    list-style: none;
    color: white;
    text-decoration: none;

}

li a:hover{
    text-decoration: underline;

}

header {
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid white;
    background-image: url(wall.png);
    margin-right: 2vw;


}

nav {
    height: 60px;
    width: 100%;


}

nav ul{
     display: flex;

}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    margin-right: 3vw;


}

nav ul li a {





}

nav ul li ul {
    display: none;
    position: absolute;
   background-image: url(wall.png);
    padding: 4px;
    text-align: left;

}

nav ul li ul li a {


}

nav ul li ul li {
    padding-bottom: 6px;



}

nav ul li ul li a:hover {


}

nav ul li:hover ul {
    display: block;
    width: 150px;

}*/


#mySidenav {
  background-image: url(wall.png);
  padding-top: 20px;
}

#mySidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


#mySidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  color: white;
}


.dropdown-container {
  display: none;
  background-image: url(wall.png);
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;


}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: gray;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}

/*@media screen and (min-width: 1024px){

#mySidenav {
  overflow: hidden;
  background-color: #333;
}


#mySidenav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


#mySidenav a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


dropdown-container{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

dropdown-container a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


dropdown-container a:hover {
  background-color: #ddd;
}


.dropdown:hover dropdown-container {
  display: block;
}
    header{
        width: 100%;
        height: 60px;
    }

    #logo img{
        float: left;
    }



}*/
