    @font-face {
        font-family: "Huset";
        src: url("Huset Regular/huset Regular.otf");
    }

body{
    margin: 0;
    background-image: url(wall.png);
}

header{
    font-family: Huset;
    text-align: center;
    font-size: 8vw;
}

img{
    width: 100%;
}

main{
    margin: 8vw;
    padding: 4vw;
    color: white;
    display: grid;
    grid-gap: 5vw;
}

@media screen and (min-width:1000px){
    main{
        margin: 16vw;
        margin-top: 8vw;
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: repeat (5, 1fr);
        grid-gap: 20px;
    }

    .container{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .container1{
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .container2{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .slideshow_container{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .container3{
        grid-column: 1/3;
        grid-row: 4/5;
    }
}

.container1{
    border: 3px solid white;
    padding: 4vw;
    color: white;
    font-family: Avenir;
}

.container2{
    border: 3px solid white;
    padding: 4vw;
    color: white;
    font-family: Avenir;
}

.container3{
    color: white;
    font-family: Avenir;
    display: grid;
    grid-gap: 10px;
}

h1{
    font-family: Huset;
    font-size: 7.5vw;
    margin-top: 0;
}

h2{
    font-family: Huset;
    font-size: 7.5vw;
    margin-top: 0;
}

h3{
    font-family: huset;
    font-size: 7.5vw;
    padding: 4vw;
}

.eventsListview{
    text-shadow: 2px 2px grey;
    display: grid;
    grid-template-columns: 10px repeat(2, 1fr) 10px;
    grid-template-rows: 10px repeat(6, 1fr) 10px;
    border: 3px solid white;
}

.title{
    grid-column: 2/5;
    grid-row:2/3;
    z-index: 2;
    font-size: 4.5vw;
}

.date{
    grid-column: 2/3;
    grid-row: 3/4;
    z-index: 2;
    font-family: huset;
    font-size: 8vw;
}

.time{
    grid-column: 2/3;
    grid-row: 4/5;
    z-index: 2;
    font-size: 4vw;
}

.place{
    grid-column: 3/5;
    grid-row: 3/4;
    z-index: 2;
    font-size: 4vw;
}

.pris{
    grid-column: 3/4;
    grid-row: 4/5;
    z-index: 2;
    font-size: 4vw;
}

.kob_billet{
    grid-column: 2/3;
    grid-row: 7/8;
    z-index: 2;
}

.kob_knap {
        font-family: Avenir;
        border: none;
        background: none;
        color: white;
        width: 40vw;
        border-bottom: 1px solid white;
        font-size: 3vw;
    }

.kob_knap:hover{
    border-bottom: 2px solid white;
}

.image{
    grid-column: 1/9;
    grid-row: 1/9;
    z-index: 1;
    opacity: 0.6;
}



/*-------------------------------------------*/

a {

    color: white;
}



#logo img {
    width: 30vw;
    float: right;

}


/* navigation */


/*-----------------------------------------*/

 * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
    font-family: huset;
  font-size: 5vw;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

//-------------------------------------------------


/* navigation */

#mySidenav {
    background-image: url(wall.png);
    padding-top: 20px;
    position: absolute;
    z-index: 3;
}

#mySidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


#mySidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

.active {
    color: white;
    opacity: 0.5;
}


.dropdown-container {
    display: none;
    background-image: url(wall.png);
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
    position: relative;
    z-index: 4;


}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: gray;
}




.dropdown-btn {
    padding: 0px;
    position: relative;
    z-index: 2;
    display: flex;

}

i {
    margin-top: 10px;

}

/* soMe ikoner*/

#soMeIkoner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 110px;
    margin-top: -44px;
    position: relative;
    z-index: 2;

}

.soMe {
    color: white;
    margin: 6px;

}

.soMe a {
    color: white;
}

/* søgefunktion*/

.wrapper {
    position: absolute;
    top: 3.5vw;
    left: 51%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.search_container {
    position: relative;
    padding: 30.5px 60px;

}

.input {
    width: 100px;
    height: 4px;
    border: 1.5px solid white;
    background: transparent;
    padding: 10px 30px;
    border-radius: 50px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    font-family: 'Avenir', sans-serif;


}

::-webkit-input-placeholder {
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Avenir', sans-serif;

}

.luk-btn {
    position: absolute;
    z-index: ;
    top: 30px;
    right: 70px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    transition: opacity 0.5s ease;

    opacity: 1;
    /*skal være på 0 hvis animationen skal du*/
}

.luk-btn.active {
    opacity: 1;
    animation-name: animate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    color: white;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}



@media screen and (min-width:400px) {

    #soMeIkoner {
        margin-left: 120px;
        margin-top: -44px;

    }


    #soMeIkoner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        margin-left: 100px;
        margin-top: -40.5px;

    }
}

@media screen and (min-width: 627px){
    .wrapper{
        opacity: 1;
    }

    #logo img{
        width: 25vw;
    }
}



@media screen and (min-width: 1024px) {


    .wrapper {


        left: 50%;

    }
    .input {
        width: 200px;
        height: 20px;
        border: 3px solid white;
        text-transform: uppercase;

    }

    .luk-btn {

        top: 40px;
        right: 90px;

    }

    #soMeIkoner {
        left: 10%
    }



}

@media screen and (min-width:1300px) {
    #soMeIkoner {
        font-size: 1.5vw;
        left: 15%
    }
}

@media screen and (min-width:1500px) {
    .wrapper {
        top: 3vw;
        left: 55%
    }

    .input {
        width: 250px;
    }
}

@media screen and (min-width:768px){
    .container3{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
    .title{
        font-size: 2vw;
    }

    .date{
        font-size: 2vw;
    }

    .time{
        font-size: 2vw;
    }

    .place{
        font-size: 1.5vw;
    }

    .pris{
        font-size: 2vw;
    }

    .kob_knap{
        width: 16vw;
        font-size: 2vw;
    }

}

@media screen and (min-width:1024px){
    .container3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    .title{
        font-size: 1vw;
    }

    .date{
        font-size: 1.5vw;
    }

    .time{
        font-size: 1vw;
    }

    .place{
        font-size: 1vw;
    }

    .pris{
        font-size: 1.5vw;
    }

    .kob_knap{
        width: 8vw;
        font-size: 1vw;
    }
}

/*--------------footer-----------------*/
